a {
    color: inherit;
    text-decoration: none;
}
p.Bulleted {
  font-family: 'Garamond', 'serif';
  font-size: 12pt;
  line-height: 108%;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: .001pt;
  font-style: normal;
  font-weight: normal
}
span.Emphasis {
  color: #0E101A;
  font-family: 'Garamond', 'serif';
  font-size: 12pt;
  font-style: italic;
  font-weight: normal;
  margin: 0;
  padding: 0
}
span.FixedWidth {
  font-family: 'Courier New';
  font-size: 9pt;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  padding: 0
}
h1.Numbering11 {
  margin-top: 5pt;
  margin-bottom: 5pt;
  font-family: 'Garamond', 'serif';
  font-size: 72pt;
  line-height: 108%;
  margin-left: 0;
  margin-right: 0;
  color: #808080;
  font-style: normal;
  font-weight: bold
}
h1.Numbering11::before {
  counter-increment: Numbering11;
  content: counter(Numbering11, decimal)".";
  padding-right: 0.5rem
}
ol.List0 {
  counter-reset: section01;
  list-style: none;
  padding-left: 40px;
  margin-left: 0px
}
ul.List10 {
  counter-reset: section101;
  list-style: none;
  padding-left: 40px;
  margin-left: 0px
}
ul.List11 {
  counter-reset: section111;
  list-style: none;
  padding-left: 40px;
  margin-left: 0px
}
ul.List13 {
  counter-reset: section131;
  list-style: none;
  padding-left: 40px;
  margin-left: 0px
}
ul.List14 {
  counter-reset: section141;
  list-style: none;
  padding-left: 40px;
  margin-left: 0px
}
ul.List15 {
  counter-reset: section151;
  list-style: none;
  padding-left: 40px;
  margin-left: 0px
}
ul.List16 {
  counter-reset: section161;
  list-style: none;
  padding-left: 40px;
  margin-left: 0px
}
ul.List17 {
  counter-reset: section171;
  list-style: none;
  padding-left: 40px;
  margin-left: 0px
}
ul.List18 {
  counter-reset: section181;
  list-style: none;
  padding-left: 40px;
  margin-left: 0px
}
ul.List19 {
  counter-reset: section191;
  list-style: none;
  padding-left: 40px;
  margin-left: 0px
}
ul.List20 {
  counter-reset: section201;
  list-style: none;
  padding-left: 40px;
  margin-left: 0px
}
ul.List21 {
  counter-reset: section211;
  list-style: none;
  padding-left: 40px;
  margin-left: 0px
}
ul.List22 {
  counter-reset: section221;
  list-style: none;
  padding-left: 40px;
  margin-left: 0px
}
ul.List24 {
  counter-reset: section241;
  list-style: none;
  padding-left: 40px;
  margin-left: 0px
}
ul.List26 {
  counter-reset: section261;
  list-style: none;
  padding-left: 40px;
  margin-left: 0px
}
ol.List29 {
  counter-reset: section291;
  list-style: none;
  padding-left: 40px;
  margin-left: 0px
}
ul.List31 {
  counter-reset: section311;
  list-style: none;
  padding-left: 40px;
  margin-left: 0px
}
ol.List32 {
  counter-reset: section321;
  list-style: none;
  padding-left: 40px;
  margin-left: 0px
}
ul.List35 {
  counter-reset: section351;
  list-style: none;
  padding-left: 40px;
  margin-left: 0px
}
ul.List36 {
  counter-reset: section361;
  list-style: none;
  padding-left: 40px;
  margin-left: 0px
}
ul.List37 {
  counter-reset: section371;
  list-style: none;
  padding-left: 40px;
  margin-left: 0px
}
ul.List41 {
  counter-reset: section411;
  list-style: none;
  padding-left: 40px;
  margin-left: 0px
}
ul.List42 {
  counter-reset: section421;
  list-style: none;
  padding-left: 40px;
  margin-left: 0px
}
ul.List47 {
  counter-reset: section471;
  list-style: none;
  padding-left: 40px;
  margin-left: 0px
}
ul.List49 {
  counter-reset: section491;
  list-style: none;
  padding-left: 40px;
  margin-left: 0px
}
ol.List53 {
  counter-reset: section531;
  list-style: none;
  padding-left: 40px;
  margin-left: 0px
}
ul.List55 {
  counter-reset: section551;
  list-style: none;
  padding-left: 40px;
  margin-left: 0px
}
ul.List56 {
  counter-reset: section561;
  list-style: none;
  padding-left: 40px;
  margin-left: 0px
}
ul.List57 {
  counter-reset: section571;
  list-style: none;
  padding-left: 40px;
  margin-left: 0px
}
ul.List59 {
  counter-reset: section591;
  list-style: none;
  padding-left: 40px;
  margin-left: 0px
}
ul.List60 {
  counter-reset: section601;
  list-style: none;
  padding-left: 40px;
  margin-left: 0px
}
ul.List61 {
  counter-reset: section611;
  list-style: none;
  padding-left: 40px;
  margin-left: 0px
}
ul.List63 {
  counter-reset: section631;
  list-style: none;
  padding-left: 40px;
  margin-left: 0px
}
ul.List65 {
  counter-reset: section651;
  list-style: none;
  padding-left: 40px;
  margin-left: 0px
}
ol.List66 {
  counter-reset: section661;
  list-style: none;
  padding-left: 40px;
  margin-left: 0px
}
ul.List70 {
  counter-reset: section701;
  list-style: none;
  padding-left: 40px;
  margin-left: 0px
}
ul.List71 {
  counter-reset: section711;
  list-style: none;
  padding-left: 40px;
  margin-left: 0px
}
p.ListBullet {
  font-family: 'Garamond', 'serif';
  font-size: 12pt;
  line-height: 108%;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: .001pt;
  font-style: normal;
  font-weight: normal
}
p.ListBullet5 {
  font-family: 'Garamond', 'serif';
  font-size: 12pt;
  line-height: 108%;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: .001pt;
  background: #FFFFFF;
  font-style: normal;
  font-weight: normal
}
p.ListNumber5 {
  font-family: 'Garamond', 'serif';
  font-size: 12pt;
  line-height: 108%;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: .001pt;
  font-style: normal;
  font-weight: normal
}
p.NormalWeb {
  margin-top: 5pt;
  margin-bottom: 5pt;
  font-family: 'Garamond', 'serif';
  font-size: 12pt;
  line-height: 108%;
  margin-left: 0;
  margin-right: 0;
  color: #0E101A;
  font-style: normal;
  font-weight: normal
}
p.Numbering231 {
  font-family: 'Garamond', 'serif';
  font-size: 12pt;
  line-height: 108%;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: .001pt;
  font-style: italic;
  font-weight: normal
}
p.Numbering231::before {
  content: counter(bullet, disc);
  padding-right: 0.5rem
}
p.Numbering241 {
  font-family: 'Garamond', 'serif';
  font-size: 12pt;
  line-height: 108%;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: .001pt;
  font-style: normal;
  font-weight: normal
}
p.Numbering241::before {
  content: counter(bullet, disc);
  padding-right: 0.5rem
}
p.Numbering302 {
  font-family: 'Garamond', 'serif';
  font-size: 12pt;
  line-height: 108%;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: .001pt;
  font-style: normal;
  font-weight: normal
}
p.Numbering302::before {
  content: counter(bullet, circle);
  padding-right: 0.5rem
}
p.Numbering321 {
  font-family: 'Garamond', 'serif';
  font-size: 12pt;
  line-height: 108%;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: .001pt;
  color: #000000;
  font-style: normal;
  font-weight: normal
}
p.Numbering321::before {
  content: counter(bullet, disc);
  padding-right: 0.5rem
}
p.Numbering331 {
  font-family: 'Garamond', 'serif';
  font-size: 12pt;
  line-height: 108%;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: .001pt;
  font-style: normal;
  font-weight: normal
}
p.Numbering331::before {
  content: counter(bullet, disc);
  padding-right: 0.5rem
}
span.Strong {
  font-family: 'Garamond', 'serif';
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
  margin: 0;
  padding: 0
}
p.a {
  font-family: 'Garamond', 'serif';
  font-size: 12pt;
  line-height: 108%;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: .001pt;
  font-style: normal;
  font-weight: normal
}
body {
  counter-reset: Numbering241 Numbering231 Numbering302 Numbering11 Numbering331 Numbering321
}
span.fontstyle01 {
  color: #000000;
  font-family: 'Garamond', 'serif';
  font-size: 12pt;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  padding: 0
}
span.fontstyle21 {
  color: #1A5B8A;
  font-family: Garamond-Bold;
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
  margin: 0;
  padding: 0
}
span.inline-comment-marker {
  font-family: 'Garamond', 'serif';
  font-size: 12pt;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  padding: 0
}
ol.List0>li {
  position: relative
}
ol.List0>li::before {
  counter-increment: section01;
  content: counter(section01, decimal)".";
  text-align: right;
  position: absolute;
  left: -44px;
  margin-right: 4px;
  width: 40px;
  overflow: hidden
}
ol.List0>li::before::before {
  width: 40px;
}
ol.List0>li::before::before {
  margin-right: 4px;
}
ol.List0>li::before::before {
  left: -44px;
}
ol.List0>li::before::before {
  left: -44px;
}
ol.List0>li::before::before {
  left: -44px;
}
ol.List0>li::before::before {
  left: -44px;
}
ol.List29>li {
  position: relative
}
ol.List29>li::before {
  counter-increment: section291;
  content: counter(section291, decimal)".";
  text-align: right;
  position: absolute;
  left: -44px;
  margin-right: 4px;
  width: 40px;
  overflow: hidden
}
ol.List29>li::before::before {
  width: 40px;
}
ol.List29>li::before::before {
  margin-right: 4px;
}
ol.List29>li::before::before {
  left: -44px;
}
ol.List29>li::before::before {
  left: -44px;
}
ol.List29>li::before::before {
  left: -44px;
}
ol.List29>li::before::before {
  left: -44px;
}
ol.List32>li {
  position: relative
}
ol.List32>li::before {
  counter-increment: section321;
  content: counter(section321, decimal)".";
  text-align: right;
  position: absolute;
  left: -44px;
  margin-right: 4px;
  width: 40px;
  overflow: hidden
}
ol.List32>li::before::before {
  width: 40px;
}
ol.List32>li::before::before {
  margin-right: 4px;
}
ol.List32>li::before::before {
  left: -44px;
}
ol.List32>li::before::before {
  left: -44px;
}
ol.List32>li::before::before {
  left: -44px;
}
ol.List32>li::before::before {
  left: -44px;
}
ol.List53>li {
  position: relative
}
ol.List53>li::before {
  counter-increment: section531;
  content: counter(section531, decimal)".";
  text-align: right;
  position: absolute;
  left: -44px;
  margin-right: 4px;
  width: 40px;
  overflow: hidden
}
ol.List53>li::before::before {
  width: 40px;
}
ol.List53>li::before::before {
  margin-right: 4px;
}
ol.List53>li::before::before {
  left: -44px;
}
ol.List53>li::before::before {
  left: -44px;
}
ol.List53>li::before::before {
  left: -44px;
}
ol.List53>li::before::before {
  left: -44px;
}
ol.List66>li {
  position: relative
}
ol.List66>li::before {
  counter-increment: section661;
  content: counter(section661, decimal)".";
  text-align: right;
  position: absolute;
  left: -44px;
  margin-right: 4px;
  width: 40px;
  overflow: hidden
}
ol.List66>li::before::before {
  width: 40px;
}
ol.List66>li::before::before {
  margin-right: 4px;
}
ol.List66>li::before::before {
  left: -44px;
}
ol.List66>li::before::before {
  left: -44px;
}
ol.List66>li::before::before {
  left: -44px;
}
ol.List66>li::before::before {
  left: -44px;
}
p.redNoteChar {
  margin-top: 8pt;
  margin-bottom: 0;
  font-family: 'Garamond', 'serif';
  font-size: 12pt;
  line-height: 108%;
  margin-left: 0;
  margin-right: 0;
  color: #800000;
  font-style: normal;
  font-weight: normal
}
ul.List10>li {
  position: relative
}
ul.List10>li::before {
  counter-increment: section101;
  content: counter(bullet, disc);
  text-align: right;
  position: absolute;
  left: -44px;
  margin-right: 4px;
  width: 40px;
  overflow: hidden
}
ul.List10>li::before::before {
  width: 40px;
}
ul.List10>li::before::before {
  margin-right: 4px;
}
ul.List10>li::before::before {
  left: -44px;
}
ul.List10>li::before::before {
  left: -44px;
}
ul.List10>li::before::before {
  left: -44px;
}
ul.List10>li::before::before {
  left: -44px;
}
ul.List11>li {
  position: relative
}
ul.List11>li::before {
  counter-increment: section111;
  content: counter(bullet, disc);
  text-align: right;
  position: absolute;
  left: -44px;
  margin-right: 4px;
  width: 40px;
  overflow: hidden
}
ul.List11>li::before::before {
  width: 40px;
}
ul.List11>li::before::before {
  margin-right: 4px;
}
ul.List11>li::before::before {
  left: -44px;
}
ul.List11>li::before::before {
  left: -44px;
}
ul.List11>li::before::before {
  left: -44px;
}
ul.List11>li::before::before {
  left: -44px;
}
ul.List13>li {
  position: relative
}
ul.List13>li::before {
  counter-increment: section131;
  content: counter(bullet, disc);
  text-align: right;
  position: absolute;
  left: -44px;
  margin-right: 4px;
  width: 40px;
  overflow: hidden
}
ul.List13>li::before::before {
  width: 40px;
}
ul.List13>li::before::before {
  margin-right: 4px;
}
ul.List13>li::before::before {
  left: -44px;
}
ul.List13>li::before::before {
  left: -44px;
}
ul.List13>li::before::before {
  left: -44px;
}
ul.List13>li::before::before {
  left: -44px;
}
ul.List14>li {
  position: relative
}
ul.List14>li::before {
  counter-increment: section141;
  content: counter(bullet, disc);
  text-align: right;
  position: absolute;
  left: -44px;
  margin-right: 4px;
  width: 40px;
  overflow: hidden
}
ul.List14>li::before::before {
  width: 40px;
}
ul.List14>li::before::before {
  margin-right: 4px;
}
ul.List14>li::before::before {
  left: -44px;
}
ul.List14>li::before::before {
  left: -44px;
}
ul.List14>li::before::before {
  left: -44px;
}
ul.List14>li::before::before {
  left: -44px;
}
ul.List15>li {
  position: relative
}
ul.List15>li::before {
  counter-increment: section151;
  content: counter(bullet, disc);
  text-align: right;
  position: absolute;
  left: -44px;
  margin-right: 4px;
  width: 40px;
  overflow: hidden
}
ul.List15>li::before::before {
  width: 40px;
}
ul.List15>li::before::before {
  margin-right: 4px;
}
ul.List15>li::before::before {
  left: -44px;
}
ul.List15>li::before::before {
  left: -44px;
}
ul.List15>li::before::before {
  left: -44px;
}
ul.List15>li::before::before {
  left: -44px;
}
ul.List16>li {
  position: relative
}
ul.List16>li::before {
  counter-increment: section161;
  content: counter(bullet, disc);
  text-align: right;
  position: absolute;
  left: -44px;
  margin-right: 4px;
  width: 40px;
  overflow: hidden
}
ul.List16>li::before::before {
  width: 40px;
}
ul.List16>li::before::before {
  margin-right: 4px;
}
ul.List16>li::before::before {
  left: -44px;
}
ul.List16>li::before::before {
  left: -44px;
}
ul.List16>li::before::before {
  left: -44px;
}
ul.List16>li::before::before {
  left: -44px;
}
ul.List16>li>ul {
  counter-reset: section162;
  list-style: none;
  padding-left: 40px;
  margin-left: 0px
}
ul.List16>li>ul>li {
  position: relative
}
ul.List16>li>ul>li::before {
  counter-increment: section162;
  content: counter(bullet, circle);
  text-align: right;
  position: absolute;
  left: undefined;
  margin-right: undefined;
  width: undefined;
  overflow: hidden
}
ul.List16>li>ul>li::before::before {
  width: 40px;
}
ul.List16>li>ul>li::before::before {
  margin-right: 4px;
}
ul.List16>li>ul>li::before::before {
  left: -44px;
}
ul.List16>li>ul>li::before::before {
  left: -44px;
}
ul.List16>li>ul>li::before::before {
  left: -44px;
}
ul.List16>li>ul>li::before::before {
  left: -44px;
}
ul.List17>li {
  position: relative
}
ul.List17>li::before {
  counter-increment: section171;
  content: counter(bullet, disc);
  text-align: right;
  position: absolute;
  left: -44px;
  margin-right: 4px;
  width: 40px;
  overflow: hidden
}
ul.List17>li::before::before {
  width: 40px;
}
ul.List17>li::before::before {
  margin-right: 4px;
}
ul.List17>li::before::before {
  left: -44px;
}
ul.List17>li::before::before {
  left: -44px;
}
ul.List17>li::before::before {
  left: -44px;
}
ul.List17>li::before::before {
  left: -44px;
}
ul.List18>li {
  position: relative
}
ul.List18>li::before {
  counter-increment: section181;
  content: counter(bullet, disc);
  text-align: right;
  position: absolute;
  left: -44px;
  margin-right: 4px;
  width: 40px;
  overflow: hidden
}
ul.List18>li::before::before {
  width: 40px;
}
ul.List18>li::before::before {
  margin-right: 4px;
}
ul.List18>li::before::before {
  left: -44px;
}
ul.List18>li::before::before {
  left: -44px;
}
ul.List18>li::before::before {
  left: -44px;
}
ul.List18>li::before::before {
  left: -44px;
}
ul.List19>li {
  position: relative
}
ul.List19>li::before {
  counter-increment: section191;
  content: counter(bullet, disc);
  text-align: right;
  position: absolute;
  left: -44px;
  margin-right: 4px;
  width: 40px;
  overflow: hidden
}
ul.List19>li::before::before {
  width: 40px;
}
ul.List19>li::before::before {
  margin-right: 4px;
}
ul.List19>li::before::before {
  left: -44px;
}
ul.List19>li::before::before {
  left: -44px;
}
ul.List19>li::before::before {
  left: -44px;
}
ul.List19>li::before::before {
  left: -44px;
}
ul.List20>li {
  position: relative
}
ul.List20>li::before {
  counter-increment: section201;
  content: counter(bullet, disc);
  text-align: right;
  position: absolute;
  left: -44px;
  margin-right: 4px;
  width: 40px;
  overflow: hidden
}
ul.List20>li::before::before {
  width: 40px;
}
ul.List20>li::before::before {
  margin-right: 4px;
}
ul.List20>li::before::before {
  left: -44px;
}
ul.List20>li::before::before {
  left: -44px;
}
ul.List20>li::before::before {
  left: -44px;
}
ul.List20>li::before::before {
  left: -44px;
}
ul.List21>li {
  position: relative
}
ul.List21>li::before {
  counter-increment: section211;
  content: counter(bullet, disc);
  text-align: right;
  position: absolute;
  left: -44px;
  margin-right: 4px;
  width: 40px;
  overflow: hidden
}
ul.List21>li::before::before {
  width: 40px;
}
ul.List21>li::before::before {
  margin-right: 4px;
}
ul.List21>li::before::before {
  left: -44px;
}
ul.List21>li::before::before {
  left: -44px;
}
ul.List21>li::before::before {
  left: -44px;
}
ul.List21>li::before::before {
  left: -44px;
}
ul.List22>li {
  position: relative
}
ul.List22>li::before {
  counter-increment: section221;
  content: counter(bullet, disc);
  text-align: right;
  position: absolute;
  left: -44px;
  margin-right: 4px;
  width: 40px;
  overflow: hidden
}
ul.List22>li::before::before {
  width: 40px;
}
ul.List22>li::before::before {
  margin-right: 4px;
}
ul.List22>li::before::before {
  left: -44px;
}
ul.List22>li::before::before {
  left: -44px;
}
ul.List22>li::before::before {
  left: -44px;
}
ul.List22>li::before::before {
  left: -44px;
}
ul.List23>li>ul {
  counter-reset: section232;
  list-style: none;
  padding-left: 40px;
  margin-left: 0px
}
ul.List23>li>ul>li {
  position: relative
}
ul.List23>li>ul>li::before {
  counter-increment: section232;
  content: counter(bullet, circle);
  text-align: right;
  position: absolute;
  left: undefined;
  margin-right: undefined;
  width: undefined;
  overflow: hidden
}
ul.List23>li>ul>li::before::before {
  width: 40px;
}
ul.List23>li>ul>li::before::before {
  margin-right: 4px;
}
ul.List23>li>ul>li::before::before {
  left: -44px;
}
ul.List23>li>ul>li::before::before {
  left: -44px;
}
ul.List23>li>ul>li::before::before {
  left: -44px;
}
ul.List23>li>ul>li::before::before {
  left: -44px;
}
ul.List24>li {
  position: relative
}
ul.List24>li::before {
  counter-increment: section241;
  content: counter(bullet, disc);
  text-align: right;
  position: absolute;
  left: -44px;
  margin-right: 4px;
  width: 40px;
  overflow: hidden
}
ul.List24>li::before::before {
  width: 40px;
}
ul.List24>li::before::before {
  margin-right: 4px;
}
ul.List24>li::before::before {
  left: -44px;
}
ul.List24>li::before::before {
  left: -44px;
}
ul.List24>li::before::before {
  left: -44px;
}
ul.List24>li::before::before {
  left: -44px;
}
ul.List26>li {
  position: relative
}
ul.List26>li::before {
  counter-increment: section261;
  content: counter(bullet, disc);
  text-align: right;
  position: absolute;
  left: -44px;
  margin-right: 4px;
  width: 40px;
  overflow: hidden
}
ul.List26>li::before::before {
  width: 40px;
}
ul.List26>li::before::before {
  margin-right: 4px;
}
ul.List26>li::before::before {
  left: -44px;
}
ul.List26>li::before::before {
  left: -44px;
}
ul.List26>li::before::before {
  left: -44px;
}
ul.List26>li::before::before {
  left: -44px;
}
ul.List31>li {
  position: relative
}
ul.List31>li::before {
  counter-increment: section311;
  content: counter(bullet, disc);
  text-align: right;
  position: absolute;
  left: -44px;
  margin-right: 4px;
  width: 40px;
  overflow: hidden
}
ul.List31>li::before::before {
  width: 40px;
}
ul.List31>li::before::before {
  margin-right: 4px;
}
ul.List31>li::before::before {
  left: -44px;
}
ul.List31>li::before::before {
  left: -44px;
}
ul.List31>li::before::before {
  left: -44px;
}
ul.List31>li::before::before {
  left: -44px;
}
ul.List35>li {
  position: relative
}
ul.List35>li::before {
  counter-increment: section351;
  content: counter(bullet, disc);
  text-align: right;
  position: absolute;
  left: -44px;
  margin-right: 4px;
  width: 40px;
  overflow: hidden
}
ul.List35>li::before::before {
  width: 40px;
}
ul.List35>li::before::before {
  margin-right: 4px;
}
ul.List35>li::before::before {
  left: -44px;
}
ul.List35>li::before::before {
  left: -44px;
}
ul.List35>li::before::before {
  left: -44px;
}
ul.List35>li::before::before {
  left: -44px;
}
ul.List36>li {
  position: relative
}
ul.List36>li::before {
  counter-increment: section361;
  content: counter(bullet, disc);
  text-align: right;
  position: absolute;
  left: -44px;
  margin-right: 4px;
  width: 40px;
  overflow: hidden
}
ul.List36>li::before::before {
  width: 40px;
}
ul.List36>li::before::before {
  margin-right: 4px;
}
ul.List36>li::before::before {
  left: -44px;
}
ul.List36>li::before::before {
  left: -44px;
}
ul.List36>li::before::before {
  left: -44px;
}
ul.List36>li::before::before {
  left: -44px;
}
ul.List37>li {
  position: relative
}
ul.List37>li::before {
  counter-increment: section371;
  content: counter(bullet, disc);
  text-align: right;
  position: absolute;
  left: -44px;
  margin-right: 4px;
  width: 40px;
  overflow: hidden
}
ul.List37>li::before::before {
  width: 40px;
}
ul.List37>li::before::before {
  margin-right: 4px;
}
ul.List37>li::before::before {
  left: -44px;
}
ul.List37>li::before::before {
  left: -44px;
}
ul.List37>li::before::before {
  left: -44px;
}
ul.List37>li::before::before {
  left: -44px;
}
ul.List41>li {
  position: relative
}
ul.List41>li::before {
  counter-increment: section411;
  content: counter(bullet, disc);
  text-align: right;
  position: absolute;
  left: -44px;
  margin-right: 4px;
  width: 40px;
  overflow: hidden
}
ul.List41>li::before::before {
  width: 40px;
}
ul.List41>li::before::before {
  margin-right: 4px;
}
ul.List41>li::before::before {
  left: -44px;
}
ul.List41>li::before::before {
  left: -44px;
}
ul.List41>li::before::before {
  left: -44px;
}
ul.List41>li::before::before {
  left: -44px;
}
ul.List42>li {
  position: relative
}
ul.List42>li::before {
  counter-increment: section421;
  content: counter(bullet, disc);
  text-align: right;
  position: absolute;
  left: -44px;
  margin-right: 4px;
  width: 40px;
  overflow: hidden
}
ul.List42>li::before::before {
  width: 40px;
}
ul.List42>li::before::before {
  margin-right: 4px;
}
ul.List42>li::before::before {
  left: -44px;
}
ul.List42>li::before::before {
  left: -44px;
}
ul.List42>li::before::before {
  left: -44px;
}
ul.List42>li::before::before {
  left: -44px;
}
ul.List47>li {
  position: relative
}
ul.List47>li::before {
  counter-increment: section471;
  content: counter(bullet, disc);
  text-align: right;
  position: absolute;
  left: -44px;
  margin-right: 4px;
  width: 40px;
  overflow: hidden
}
ul.List47>li::before::before {
  width: 40px;
}
ul.List47>li::before::before {
  margin-right: 4px;
}
ul.List47>li::before::before {
  left: -44px;
}
ul.List47>li::before::before {
  left: -44px;
}
ul.List47>li::before::before {
  left: -44px;
}
ul.List47>li::before::before {
  left: -44px;
}
ul.List49>li {
  position: relative
}
ul.List49>li::before {
  counter-increment: section491;
  content: counter(bullet, disc);
  text-align: right;
  position: absolute;
  left: -44px;
  margin-right: 4px;
  width: 40px;
  overflow: hidden
}
ul.List49>li::before::before {
  width: 40px;
}
ul.List49>li::before::before {
  margin-right: 4px;
}
ul.List49>li::before::before {
  left: -44px;
}
ul.List49>li::before::before {
  left: -44px;
}
ul.List49>li::before::before {
  left: -44px;
}
ul.List49>li::before::before {
  left: -44px;
}
ul.List50>li>ul {
  counter-reset: section502;
  list-style: none;
  padding-left: 40px;
  margin-left: 0px
}
ul.List50>li>ul>li {
  position: relative
}
ul.List50>li>ul>li::before {
  counter-increment: section502;
  content: counter(bullet, disc);
  text-align: right;
  position: absolute;
  left: undefined;
  margin-right: undefined;
  width: undefined;
  overflow: hidden
}
ul.List50>li>ul>li::before::before {
  width: 40px;
}
ul.List50>li>ul>li::before::before {
  margin-right: 4px;
}
ul.List50>li>ul>li::before::before {
  left: -44px;
}
ul.List50>li>ul>li::before::before {
  left: -44px;
}
ul.List50>li>ul>li::before::before {
  left: -44px;
}
ul.List50>li>ul>li::before::before {
  left: -44px;
}
ul.List52>li>ul {
  counter-reset: section522;
  list-style: none;
  padding-left: 40px;
  margin-left: 0px
}
ul.List52>li>ul>li {
  position: relative
}
ul.List52>li>ul>li::before {
  counter-increment: section522;
  content: counter(bullet, disc);
  text-align: right;
  position: absolute;
  left: undefined;
  margin-right: undefined;
  width: undefined;
  overflow: hidden
}
ul.List52>li>ul>li::before::before {
  width: 40px;
}
ul.List52>li>ul>li::before::before {
  margin-right: 4px;
}
ul.List52>li>ul>li::before::before {
  left: -44px;
}
ul.List52>li>ul>li::before::before {
  left: -44px;
}
ul.List52>li>ul>li::before::before {
  left: -44px;
}
ul.List52>li>ul>li::before::before {
  left: -44px;
}
ul.List55>li {
  position: relative
}
ul.List55>li::before {
  counter-increment: section551;
  content: counter(bullet, disc);
  text-align: right;
  position: absolute;
  left: -44px;
  margin-right: 4px;
  width: 40px;
  overflow: hidden
}
ul.List55>li::before::before {
  width: 40px;
}
ul.List55>li::before::before {
  margin-right: 4px;
}
ul.List55>li::before::before {
  left: -44px;
}
ul.List55>li::before::before {
  left: -44px;
}
ul.List55>li::before::before {
  left: -44px;
}
ul.List55>li::before::before {
  left: -44px;
}
ul.List56>li {
  position: relative
}
ul.List56>li::before {
  counter-increment: section561;
  content: counter(bullet, disc);
  text-align: right;
  position: absolute;
  left: -44px;
  margin-right: 4px;
  width: 40px;
  overflow: hidden
}
ul.List56>li::before::before {
  width: 40px;
}
ul.List56>li::before::before {
  margin-right: 4px;
}
ul.List56>li::before::before {
  left: -44px;
}
ul.List56>li::before::before {
  left: -44px;
}
ul.List56>li::before::before {
  left: -44px;
}
ul.List56>li::before::before {
  left: -44px;
}
ul.List57>li {
  position: relative
}
ul.List57>li::before {
  counter-increment: section571;
  content: counter(bullet, disc);
  text-align: right;
  position: absolute;
  left: -44px;
  margin-right: 4px;
  width: 40px;
  overflow: hidden
}
ul.List57>li::before::before {
  width: 40px;
}
ul.List57>li::before::before {
  margin-right: 4px;
}
ul.List57>li::before::before {
  left: -44px;
}
ul.List57>li::before::before {
  left: -44px;
}
ul.List57>li::before::before {
  left: -44px;
}
ul.List57>li::before::before {
  left: -44px;
}
ul.List57>li>ul {
  counter-reset: section572;
  list-style: none;
  padding-left: 40px;
  margin-left: 0px
}
ul.List57>li>ul>li {
  position: relative
}
ul.List57>li>ul>li::before {
  counter-increment: section572;
  content: counter(bullet, circle);
  text-align: right;
  position: absolute;
  left: undefined;
  margin-right: undefined;
  width: undefined;
  overflow: hidden
}
ul.List57>li>ul>li::before::before {
  width: 40px;
}
ul.List57>li>ul>li::before::before {
  margin-right: 4px;
}
ul.List57>li>ul>li::before::before {
  left: -44px;
}
ul.List57>li>ul>li::before::before {
  left: -44px;
}
ul.List57>li>ul>li::before::before {
  left: -44px;
}
ul.List57>li>ul>li::before::before {
  left: -44px;
}
ul.List59>li {
  position: relative
}
ul.List59>li::before {
  counter-increment: section591;
  content: counter(bullet, disc);
  text-align: right;
  position: absolute;
  left: -44px;
  margin-right: 4px;
  width: 40px;
  overflow: hidden
}
ul.List59>li::before::before {
  width: 40px;
}
ul.List59>li::before::before {
  margin-right: 4px;
}
ul.List59>li::before::before {
  left: -44px;
}
ul.List59>li::before::before {
  left: -44px;
}
ul.List59>li::before::before {
  left: -44px;
}
ul.List59>li::before::before {
  left: -44px;
}
ul.List60>li {
  position: relative
}
ul.List60>li::before {
  counter-increment: section601;
  content: counter(bullet, disc);
  text-align: right;
  position: absolute;
  left: -44px;
  margin-right: 4px;
  width: 40px;
  overflow: hidden
}
ul.List60>li::before::before {
  width: 40px;
}
ul.List60>li::before::before {
  margin-right: 4px;
}
ul.List60>li::before::before {
  left: -44px;
}
ul.List60>li::before::before {
  left: -44px;
}
ul.List60>li::before::before {
  left: -44px;
}
ul.List60>li::before::before {
  left: -44px;
}
ul.List61>li {
  position: relative
}
ul.List61>li::before {
  counter-increment: section611;
  content: counter(bullet, disc);
  text-align: right;
  position: absolute;
  left: -44px;
  margin-right: 4px;
  width: 40px;
  overflow: hidden
}
ul.List61>li::before::before {
  width: 40px;
}
ul.List61>li::before::before {
  margin-right: 4px;
}
ul.List61>li::before::before {
  left: -44px;
}
ul.List61>li::before::before {
  left: -44px;
}
ul.List61>li::before::before {
  left: -44px;
}
ul.List61>li::before::before {
  left: -44px;
}
ul.List63>li {
  position: relative
}
ul.List63>li::before {
  counter-increment: section631;
  content: counter(bullet, disc);
  text-align: right;
  position: absolute;
  left: -44px;
  margin-right: 4px;
  width: 40px;
  overflow: hidden
}
ul.List63>li::before::before {
  width: 40px;
}
ul.List63>li::before::before {
  margin-right: 4px;
}
ul.List63>li::before::before {
  left: -44px;
}
ul.List63>li::before::before {
  left: -44px;
}
ul.List63>li::before::before {
  left: -44px;
}
ul.List63>li::before::before {
  left: -44px;
}
ul.List65>li {
  position: relative
}
ul.List65>li::before {
  counter-increment: section651;
  content: counter(bullet, disc);
  text-align: right;
  position: absolute;
  left: -44px;
  margin-right: 4px;
  width: 40px;
  overflow: hidden
}
ul.List65>li::before::before {
  width: 40px;
}
ul.List65>li::before::before {
  margin-right: 4px;
}
ul.List65>li::before::before {
  left: -44px;
}
ul.List65>li::before::before {
  left: -44px;
}
ul.List65>li::before::before {
  left: -44px;
}
ul.List65>li::before::before {
  left: -44px;
}
ul.List70>li {
  position: relative
}
ul.List70>li::before {
  counter-increment: section701;
  content: counter(bullet, disc);
  text-align: right;
  position: absolute;
  left: -44px;
  margin-right: 4px;
  width: 40px;
  overflow: hidden
}
ul.List70>li::before::before {
  width: 40px;
}
ul.List70>li::before::before {
  margin-right: 4px;
}
ul.List70>li::before::before {
  left: -44px;
}
ul.List70>li::before::before {
  left: -44px;
}
ul.List70>li::before::before {
  left: -44px;
}
ul.List70>li::before::before {
  left: -44px;
}
ul.List71>li {
  position: relative
}
ul.List71>li::before {
  counter-increment: section711;
  content: counter(bullet, disc);
  text-align: right;
  position: absolute;
  left: -44px;
  margin-right: 4px;
  width: 40px;
  overflow: hidden
}
ul.List71>li::before::before {
  width: 40px;
}
ul.List71>li::before::before {
  margin-right: 4px;
}
ul.List71>li::before::before {
  left: -44px;
}
ul.List71>li::before::before {
  left: -44px;
}
ul.List71>li::before::before {
  left: -44px;
}
ul.List71>li::before::before {
  left: -44px;
}
ul.List71>li>ul {
  counter-reset: section712;
  list-style: none;
  padding-left: 40px;
  margin-left: 0px
}
ul.List71>li>ul>li {
  position: relative
}
ul.List71>li>ul>li::before {
  counter-increment: section712;
  content: counter(bullet, circle);
  text-align: right;
  position: absolute;
  left: undefined;
  margin-right: undefined;
  width: undefined;
  overflow: hidden
}
ul.List71>li>ul>li::before::before {
  width: 40px;
}
ul.List71>li>ul>li::before::before {
  margin-right: 4px;
}
ul.List71>li>ul>li::before::before {
  left: -44px;
}
ul.List71>li>ul>li::before::before {
  left: -44px;
}
ul.List71>li>ul>li::before::before {
  left: -44px;
}
ul.List71>li>ul>li::before::before {
  left: -44px;
}
span.wdhyperlink {
  color: #1A5B8A;
  background: #FFFFFF;
  font-family: 'Garamond', 'serif';
  font-size: 12pt;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  padding: 0
}
/* Convention icon css */
.myclass table {
  table-layout: auto !important;
}
.myclass th,
.myclass td,
.myclass thead th,
.myclass tbody td,
.myclass tfoot td,
.myclass tfoot th {
  width: auto !important;
}
.myclass {
  border: none !important;
}
/* Added */